<!-- Settings Icon from icons8 @ https://visualpharm.com/free-icons/settings-595b40b85ba036ed117daa44 -->
<!-- Arrow Icon from Freepik @ https://www.flaticon.com/free-icon/arrow-point-to-right_32213 -->
<!-- Switch Icon from Pixel Buddah @ https://www.flaticon.com/free-icon/switch_179588#term=switch&page=1&position=92 -->
<div id="topRight">
	<span title="Light Mode" id="switchSpan"><%- include("../img/switch3.svg") %></span>
	<% if (choice) { %>
		<span title="Change Theme" id="settings"><%- include("../img/Settings-icon.svg") %></span>
	<% } %>
	<span title="Collapse Menu" id="visibility"><%- include("../img/arrow.svg") %></span>
</div>
<% if (choice) { %>
	<svg id="menu">
		<path id="menuBox" d="
			M20,10 
			h225 
			l7,-10 
			l7,10 
			h30 
			a10,10 0 0 1 10,10 
			v200 
			a10,10 0 0 1 -10,10 
			h-278
			a10,10 0 0 1 -10,-10
			v-200
			a10,10 0 0 1 10,-10
			z" stroke="black" stroke-width="2px" class="none" />
	</svg>
	<div id="choose">
		<img src="/img/themes/Red.png" onclick="window.window.theme.color = 'red';">
		<img src="/img/themes/Orange.png" onclick="window.window.theme.color = 'orange';">
		<img src="/img/themes/Yellow.png" onclick="window.window.theme.color = 'yellow';">
		<img src="/img/themes/Lime.png" onclick="window.window.theme.color = 'lime';">
		<img src="/img/themes/Green.png" onclick="window.window.theme.color = 'green';">
		<img src="/img/themes/Mint.png" onclick="window.window.theme.color = 'mint';">
		<img src="/img/themes/Cyan.png" onclick="window.window.theme.color = 'cyan';">
		<img src="/img/themes/Teal.png" onclick="window.window.theme.color = 'teal';">
		<img src="/img/themes/Blue.png" onclick="window.window.theme.color = 'blue';">
		<img src="/img/themes/Purple.png" onclick="window.window.theme.color = 'purple';">
		<img src="/img/themes/Magenta.png" onclick="window.window.theme.color = 'magenta';">
		<img src="/img/themes/Pink.png" onclick="window.window.theme.color = 'pink';">
		<div class="credit"><a href="https://visualpharm.com/free-icons/settings-595b40b85ba036ed117daa44">Settings icon</a> by <a href="https://icons8.com/">icons8</a> &#64; <a href="https://visualpharm.com/">visualpharm.com</a><br>
		<a href="https://www.flaticon.com/free-icon/arrow-point-to-right_32213">Arrow icon</a> by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
		<a href="https://www.flaticon.com/free-icon/switch_179588#term=switch&page=1&position=92">Switch icon</a> by <a href="https://www.flaticon.com/authors/pixel-buddha">Pixel Buddha</a> &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
		Icons licenced under <a href="https://creativecommons.org/licenses/by/3.0/">CC 3.0 BY</a><br>
		Icon colors modified from originals</div>
	</div>
<% } %>
<div id="fixed">
	<header>
	<a id="logo" href="/">
		<%- include("../img/favicon/main/favicon_vector.svg") %>
	</a>
	<h1><%= title %></h1>
	<nav id="navigationBar">
		<ul class="horizontal main">
			<li>
				<a>Main</a>
				<ul class="vertical">
					<li><a href="/MagicEight">Magic Eight	Ball</a></li>
					<li><a href="/RandomColor">Random	Color</a></li>
          <li><a href="/GradientColor">Gradient	Color</a></li>
          <li><a href="/paint" class="alpha">Pixel Editor</a></li>
				</ul>
			</li>
			<li>
				<a>Countdown</a>
				<ul class="vertical">
					<li><a href="/Countdown/index#NewYearsDay">New Years	Day</a></li>
					<li><a href="/Countdown/index#MLKDay">Martin Luther King Jr. Day</a></li>
					<li><a href="/Countdown/index#PresidentsDay">George Washington's Birthday</a></li>
					<li><a href="/Countdown/index#MemorialDay">Memorial Day</a></li>
					<li><a href="/Countdown/index#IndependenceDay">Independence Day</a></li>
					<li><a href="/Countdown/index#LaborDay">Labor Day</a></li>
					<li><a href="/Countdown/index#ColumbusDay">Columbus Day</a></li>
					<li><a href="/Countdown/index#VeteransDay">Veterans Day</a></li>
					<li><a href="/Countdown/index#ThanksgivingDay">Thanksgiving Day</a></li>
          <li><a href="/Countdown/index#ChristmasDay">Christmas Day</a></li>
          <li><a href="/Countdown/index">Coustom Countdown</a></li>
				</ul>
			</li>
			<li>
				<a>School</a>
				<ul class="vertical">
					<li><a href="/school/SocialStudiesProject">Ancient Egyptian Social Class Project</a></li>
					<li><a href="/school/ScienceVocab">Science Vocab</a></li>
					<li><a href="/school/ELAgreekMythologyScript">Greek Mythology Play Script</a></li>
					<li><a href="https://scratch.mit.edu/projects/221553121/">Prometheus Cartoon</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	</header>
</div>