<!-- Settings Icon from icons8 @ https://visualpharm.com/free-icons/settings-595b40b85ba036ed117daa44 -->
<!-- Arrow Icon from Freepik @ https://www.flaticon.com/free-icon/arrow-point-to-right_32213 -->
<!-- Switch Icon from Pixel Buddah @ https://www.flaticon.com/free-icon/switch_179588#term=switch&page=1&position=92 -->
<div id="topRight">
	<% if (choice) { %>
    <span id="settings">
      <%- include("../img/Settings-icon.svg") %>
      <div id="chooseTooltip" class="arrowBox up">Change Theme</div>
    </span>	
  <% } %>
    <span id="visibility">
      <%- include("../img/arrow.svg") %>
      <div class="arrowBox up">Collapse Menu</div>
    </span>
  </div>
  <div id="arrow" class="gone"></div>
	<div id="choose" class="shrink">
    <div id="tabs">
      <button class="tab active" onclick="window.switchTab(event, 'color')">Color</button>
      <button class="tab" onclick="window.switchTab(event, 'user', <%= !!user %>)">Account</button>
      <button class="tab" onclick="window.switchTab(event, 'credits')">Credits</button>
    </div>
    <div id="color" class="inner">
      <div id="lightdark">
        <img src="/img/themes/light.svg" onclick="window.theme.mode = 'light'">
        <img src="/img/themes/dark.svg" onclick="window.theme.mode = 'dark'">
      </div>
      <img src="/img/themes/Red.png" onclick="window.theme.color = 'red';">
      <img src="/img/themes/Orange.png" onclick="window.theme.color = 'orange';">
      <img src="/img/themes/Yellow.png" onclick="window.theme.color = 'yellow';">
      <img src="/img/themes/Lime.png" onclick="window.theme.color = 'lime';">
      <img src="/img/themes/Green.png" onclick="window.theme.color = 'green';">
      <img src="/img/themes/Mint.png" onclick="window.theme.color = 'mint';">
      <img src="/img/themes/Cyan.png" onclick="window.theme.color = 'cyan';">
      <img src="/img/themes/Teal.png" onclick="window.theme.color = 'teal';">
      <img src="/img/themes/Blue.png" onclick="window.theme.color = 'blue';">
      <img src="/img/themes/Purple.png" onclick="window.theme.color = 'purple';">
      <img src="/img/themes/Magenta.png" onclick="window.theme.color = 'magenta';">
      <img src="/img/themes/Pink.png" onclick="window.theme.color = 'pink';">
    </div>
    <div id="user" class="inner hidden">
      <% if (user) { %>
        <input type="hidden" id="loggedIn">
        Welcome, <b><%= user.username %></b>
        <a class="button float-right" href="/api/logout?u=<%= here %>">Log out</a>
        <table>
          <tr>
            <th>Info</th>
          </tr>
          <tr>
            <td>Email:</td>
            <% if (user.email) { %>
              <td id="emailCell"><%= user.email.replace(/(?<=.{5}.*).(?=.*@)/g, "*") %></td>
              <td id="emailButtonsCell">
                <a class="button" href="/update/email?u=<%= here %>">Update</a>
                <a class="button" onclick="modal.open('#emailDeletionWarning');">Remove</a>
              </td>
            <% } else { %>
              <td>none</td>
              <td>
                <a class="button" href="/update/email?u=<%= here %>">Add</a>
              </td>
            <% } %>
          </tr>
          <tr>
            <td>Password:</td>
            <td>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</td>
            <td>
              <a class="button" href="/update/password?u=<%= here %>">Update</a>
            </td>
          </tr>
        </table>
      <% } else { %>
        <a href="<%= '/login?u=' + here %>">Log in</a> or <a href="<%= '/signup?u=' + here %>">Sign up</a>
      <% } %>
      </div>
      <div id="credits" class="inner hidden">
        <a href="https://visualpharm.com/free-icons/settings-595b40b85ba036ed117daa44">Settings icon</a> 
          by <a href="https://icons8.com/">icons8</a> 
          &#64; <a href="https://visualpharm.com/">visualpharm.com</a>&#128949;<br>
        <a href="https://www.flaticon.com/free-icon/sun_25290#term=sun&page=1&position=24">Sun icon</a> 
          by <a href="https://www.flaticon.com/authors/dave-gandy">Dave Gandy</a> 
          &#64; <a href="https://www.flaticon.com/">flaticon.com</a>&#128949;<br>
        Icons licenced under <a href="https://creativecommons.org/licenses/by/3.0/">CC 3.0 BY</a><br>
        <br>
        <% if (/secure/i.test(here)) { %>
          <a href="https://www.svgrepo.com/svg/184196/lock-padlock">Lock icon</a> from <a href="https://www.svgrepo.com">svgrepo.com</a><br>
          Icon lisenced under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a><br>
          <br>
        <% } %>
        <a href="https://www.flaticon.com/free-icon/switch_179588#term=switch&page=1&position=92">Switch icon</a> 
          by <a href="https://www.flaticon.com/authors/pixel-buddha">Pixel Buddha</a> 
          &#64; <a href="https://www.flaticon.com/">flaticon.com</a>&#128949;<br>
        <a href="https://www.flaticon.com/free-icon/arrow-point-to-right_32213">Arrow icon</a> 
          by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> 
          &#64; <a href="https://www.flaticon.com/">flaticon.com</a>&#128949;<br>
        <a href="https://www.flaticon.com/free-icon/moon_1415431#term=moon&page=1&position=4">Moon Icon</a> 
          by <a href="https://www.flaticon.com/authors/iconixar">iconixar</a> 
          &#64; <a href="https://www.flaticon.com/">flaticon.com</a>&#128949;<br>
        <% if (/login|signup/i.test(here)) { %>
          <a href="https://www.flaticon.com/free-icon/eye-close-up_63568#term=eye&page=1&position=53">Eye icon</a> 
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> 
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a>&#128949;<br>
        <% } %>
        <% if (/countdown/i.test(here)) { %>
          <a href="https://www.flaticon.com/free-icon/christmas-tree_1324728#term=christmas%20tree&page=1&position=87">Christmas Tree icon</a> 
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> 
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <a href="https://www.flaticon.com/free-icon/viking-ship_1377628#term=old%20sailing%20ship&page=1&position=7">Ship icon</a> 
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> 
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <a href="https://www.flaticon.com/free-icon/united-states-of-america_551953">Flag icon</a> 
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> 
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <a href="https://www.flaticon.com/free-icon/turkey_1357852">Turkey icon</a> 
            by <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a> 
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <a href="https://www.flaticon.com/free-icon/george-washington_412856#term=george%20washington&page=1&position=1">Washington icon</a> 
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> 
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <a href="https://www.flaticon.com/free-icon/pumpkin_2178256#term=halloween%20pumpkin&page=1&position=19">Pumpkin icon</a>
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <!--<a href="https://www.flaticon.com/free-icon/snowflake_614116">Snowflake icon</a>
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <a href="https://www.flaticon.com/free-icon/sunny_979585#term=summer&page=1&position=2">Sun icon</a>
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>-->
          <a href="https://www.flaticon.com/free-icon/earth-day_355403#term=earth%20day&page=1&position=4">Earth icon</a>
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <a href=https://www.flaticon.com/free-icon/clover_1488723"">Clover icon</a>
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <a href="https://www.flaticon.com/free-icon/groundhog_185716#term=groundhog&page=1&position=1">Groundhog icon</a>
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <!--<a href="https://www.flaticon.com/free-icon/leaves_1147560#term=fall&page=1&position=4">Leaves icon</a>
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <a href="https://www.flaticon.com/free-icon/cherry-blossom_826981#term=spring&page=1&position=4">Flower icon</a>
            by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>-->
          <a href="https://www.flaticon.com/free-icon/heart_179539#term=valentines%20day&page=1&position=15">Heart icon</a>
            by <a href="https://www.flaticon.com/authors/pixel-buddha">Pixel Buddha</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <!--<a href="https://www.flaticon.com/free-icon/easter-egg_1622400#term=Easter%20egg&page=1&position=6">Easter egg icon</a>
            by <a href="https://www.flaticon.com/authors/smalllikeart">smalllikeart</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>-->
          <a href="https://www.flaticon.com/free-icon/tag_891586#term=black%20friday&page=1&position=19">Tag icon</a>
            by <a href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a>
            &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <% if (user ? user.type === "ADMIN" : false) { %>
            <a href="https://www.flaticon.com/free-icon/time_760364?term=clock&page=1&position=35">Clock icon</a>
              by <a href="https://www.flaticon.com/authors/kiranshastry">Kiranshastry</a>
              &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
          <% } %>
        <% } %>
        Icons licenced under <a href="https://file000.flaticon.com/downloads/license/license.pdf">Flaticon Basic Licence</a><br>
        <br>
        <% if (/countdown/i.test(here)) { %>
          <a href="https://dryicons.com/icon/happy-new-year-fireworks-icon-8983">Firework icons</a> 
            by <a href="https://dryicons.com">Dryicons</a>&#128949;<br>
          Icon licenced under <a href="https://dryicons.com/standard-license">Dryicons Free license</a><br>
          <br>
        <% } %>
        &#128949;Icon modified from originals
    </div>
  </div>
<div id="fixed">
	<header>
	<a id="logo" href="/">
		<%- include("../img/favicon/main/favicon_vector.svg") %>
	</a>
	<h1><%= title %></h1>
	<nav>
		<ul>
			<li>
				<a>Main</a>
				<ul>
          <li><a href="/paint" class="beta">Pixel Editor</a></li>
          <li><a href="/hexTest">Shapes</a></li>
					<li><a href="/MagicEight">Magic Eight	Ball</a></li>
					<li><a href="/RandomColor">Random	Color</a></li>
          <li><a href="/GradientColor">Gradient	Color</a></li>
          <li><a href="/snake">Snake</a></li>
				</ul>
			</li>
      <li>
        <a class="beta">Countdown V4</a>
        <ul>
          <li><a href="/countdown/list">Countdowns List</a></li>
        </ul>
      </li>
			<li>
				<a>School</a>
				<ul>
					<li><a href="/school/SocialStudiesProject">Ancient Egyptian Social Class Project</a></li>
					<li><a href="/school/ScienceVocab">Science Vocab</a></li>
					<li><a href="/school/ELAgreekMythologyScript">Greek Mythology Play Script</a></li>
					<li><a href="https://scratch.mit.edu/projects/221553121/">Prometheus Cartoon</a></li>
				</ul>
      </li>
      <% if (user ? user.type === "ADMIN" : false) { %>
        <li>
          <a>Admin</a>
          <ul>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/sugestions">Sugestions</a></li>
            <li><a href="/secure">Secure</a></li>
          </ul>
        </li>
      <% } %>
      <li class="right">
        <a>About</a>
        <ul>
          <li><a href="/about">About Me</a></li>
          <li><a href="/sugestions">Sugestions</a></li>
          <li><a href="https://github.com/liambloom/Server-Side-Site">Github Repo</a></li>
        </ul>
      </li>
		</ul>
	</nav>
  </header>
</div>
<footer class="hidden">
  This site uses cookies. For more information click <a href="/cookiePolicy">here</a>.
  <button id="yesCookie">I accept cookies!</button>
  <button id="noCookie">No cookies for me.</button>
</footer>
<modal id="loadingModal">
  <%- include("loading.html") %>
</modal>
<modal id="emailDeletionWarning" data-escape="yn" data-confirm="deleteEmail()">
    Warning! Deleting your email will make it imposable to recover your password if you forget it. Are you sure you want to delete it?
  </modal>
<modal id="emailDeleted" data-escape="ok">
  Your email has been deleted
</modal>
<modal id="emailFaliure" data-escape="ok">
  Something went wrong
  <div id="error"></div>
</modal>