<!-- Settings Icon from icons8 @ https://visualpharm.com/free-icons/settings-595b40b85ba036ed117daa44 -->
<!-- Arrow Icon from Freepik @ https://www.flaticon.com/free-icon/arrow-point-to-right_32213 -->
<!-- Switch Icon from Pixel Buddah @ https://www.flaticon.com/free-icon/switch_179588#term=switch&page=1&position=92 -->
<div id="topRight">
	<% if (choice) { %>
    <span id="settings">
      <%- include("../img/Settings-icon.svg") %>
      <div id="chooseTooltip" class="arrowBox up">Change Theme</div>
    </span>	
  <% } %>
    <span id="visibility">
      <%- include("../img/arrow.svg") %>
      <div class="arrowBox up">Collapse Menu</div>
    </span>
  </div>
  <div id="arrow" class="gone"></div>
	<div id="choose" class="arrowBox required up shrink">
    <div id="tabs">
      <button class="tab active" onclick="window.switchTab(event, 'color')">Color</button>
        <button class="tab" onclick="window.switchTab(event, 'user', true)">Account</button>
        <button class="tab" onclick="window.switchTab(event, 'credits')">Credits</button>
    </div>
    <div id="color" class="inner">
      <img src="/img/themes/light-dark.svg" usemap="#light-dark-map" id="lightdark">
      <map name="light-dark-map">
        <area id="lightArea" shape="rect" href="foo">
        <area id="darkArea" shape="rect" href="foo">
      </map>
      <img src="/img/themes/Red.png" onclick="window.theme.color = 'red';">
      <img src="/img/themes/Orange.png" onclick="window.theme.color = 'orange';">
      <img src="/img/themes/Yellow.png" onclick="window.theme.color = 'yellow';">
      <img src="/img/themes/Lime.png" onclick="window.theme.color = 'lime';">
      <img src="/img/themes/Green.png" onclick="window.theme.color = 'green';">
      <img src="/img/themes/Mint.png" onclick="window.theme.color = 'mint';">
      <img src="/img/themes/Cyan.png" onclick="window.theme.color = 'cyan';">
      <img src="/img/themes/Teal.png" onclick="window.theme.color = 'teal';">
      <img src="/img/themes/Blue.png" onclick="window.theme.color = 'blue';">
      <img src="/img/themes/Purple.png" onclick="window.theme.color = 'purple';">
      <img src="/img/themes/Magenta.png" onclick="window.theme.color = 'magenta';">
      <img src="/img/themes/Pink.png" onclick="window.theme.color = 'pink';">
    </div>
    <div id="user" class="inner hidden">
      <% if (user) { %>
        <input type="hidden" id="loggedIn">
        <table>
          <tr>
            <td>Welcome, <%= user.username %></td>
            <td class="button" onclick="location.assign('/api/logout?u=<%= here %>')"><a href="<%= '/api/logout?u=' + here %>">Log out</a></td>
          </tr>
        </table>
      <% } else { %>
        <a href="<%= '/login?u=' + here %>">Log in</a> or <a href="<%= '/signup?u=' + here %>">Sign up</a>
      <% } %>
      </div>
      <div id="credits" class="inner hidden">
        <a href="https://visualpharm.com/free-icons/settings-595b40b85ba036ed117daa44">Settings icon</a> by <a href="https://icons8.com/">icons8</a> &#64; <a href="https://visualpharm.com/">visualpharm.com</a><br>
        <a href="https://www.flaticon.com/free-icon/sun_25290#term=sun&page=1&position=24">Sun icon</a> by <a href="https://www.flaticon.com/authors/dave-gandy">Dave Gandy</a> &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
        Icons licenced under <a href="https://creativecommons.org/licenses/by/3.0/">CC 3.0 BY</a><br>
        <br>
        <a href="https://www.flaticon.com/free-icon/switch_179588#term=switch&page=1&position=92">Switch icon</a> by <a href="https://www.flaticon.com/authors/pixel-buddha">Pixel Buddha</a> &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
        <a href="https://www.flaticon.com/free-icon/arrow-point-to-right_32213">Arrow icon</a> by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
        <a href="https://www.flaticon.com/free-icon/moon_1415431#term=moon&page=1&position=4">Moon Icon</a> by <a href="https://www.flaticon.com/authors/iconixar">iconixar</a> &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
        <% if (/login|signup/i.test(here)) { %>
          <a href="https://www.flaticon.com/free-icon/eye-close-up_63568#term=eye&page=1&position=53">Eye icon</a> by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> &#64; <a href="https://www.flaticon.com/">flaticon.com</a><br>
        <% } %>
        Icons licented under <a href="https://file000.flaticon.com/downloads/license/license.pdf">Flaticon Basic Licence</a><br>
        <br>
        All icons modified from originals
    </div>
  </div>
<div id="fixed">
	<header>
	<a id="logo" href="/">
		<%- include("../img/favicon/main/favicon_vector.svg") %>
	</a>
	<h1><%= title %></h1>
	<nav>
		<ul>
			<li>
				<a>Main</a>
				<ul>
					<li><a href="/MagicEight">Magic Eight	Ball</a></li>
					<li><a href="/RandomColor">Random	Color</a></li>
          <li><a href="/GradientColor">Gradient	Color</a></li>
          <li><a href="/paint" class="beta">Pixel Editor</a></li>
				</ul>
			</li>
			<li>
				<a>Countdown</a>
				<ul>
					<li><a href="/Countdown/index#NewYearsDay">New Years	Day</a></li>
					<li><a href="/Countdown/index#MLKDay">Martin Luther King Jr. Day</a></li>
					<li><a href="/Countdown/index#PresidentsDay">George Washington's Birthday</a></li>
					<li><a href="/Countdown/index#MemorialDay">Memorial Day</a></li>
					<li><a href="/Countdown/index#IndependenceDay">Independence Day</a></li>
					<li><a href="/Countdown/index#LaborDay">Labor Day</a></li>
					<li><a href="/Countdown/index#ColumbusDay">Columbus Day</a></li>
					<li><a href="/Countdown/index#VeteransDay">Veterans Day</a></li>
					<li><a href="/Countdown/index#ThanksgivingDay">Thanksgiving Day</a></li>
          <li><a href="/Countdown/index#ChristmasDay">Christmas Day</a></li>
          <li><a href="/Countdown/index">Coustom Countdown</a></li>
				</ul>
			</li>
			<li>
				<a>School</a>
				<ul>
					<li><a href="/school/SocialStudiesProject">Ancient Egyptian Social Class Project</a></li>
					<li><a href="/school/ScienceVocab">Science Vocab</a></li>
					<li><a href="/school/ELAgreekMythologyScript">Greek Mythology Play Script</a></li>
					<li><a href="https://scratch.mit.edu/projects/221553121/">Prometheus Cartoon</a></li>
				</ul>
      </li>
      <li class="right">
        <a>About</a>
        <ul>
          <li><a href="/about">About Me</a></li>
          <li><a href="/sugestions">Sugestions</a></li>
          <li><a href="https://github.com/liambloom/Server-Side-Site">Github Repo</a></li>
        </ul>
      </li>
		</ul>
	</nav>
  </header>
</div>
<footer class="hidden">
  This site uses cookies. For more information click <a href="/cookiePolicy">here</a>.
  <button id="yesCookie">I accept cookies!</button>
  <button id="noCookie">No cookies for me.</button>
</footer>
<modal id="loadingModal">
  <div id="loadingContainer" style="display: none;">
    <%- include("loading.html") %>
  </div>
</modal>