<div id="list-head">
  <div id="listTabs">
    <input type="button" id="preset" value="Preset Countdowns" class="selected">
    <input type="button" id="custom" value="Custom Countdowns">
  </div>
  <div id="listLayout">
    <button id="rows" class="active"><img src="/img/list.svg"></button><!--Make the active display stored in a cookie-->
    <button id="grid"><img src="/img/grid.svg"></button>
  </div>
</div>
<div id="list-menus" class="list">
  <div id="list-title" class="list-item">
    <div class="name">Name</div>
    <div class="date">Next occurrence</div>
    <div class="calendar">Calendar</div>
  </div>
  <% for (let list in lists) { %>
    <div id="<%= list %>-list" class="list-menu <%= list === "preset" ? "" : "hidden" %>">
    <% if (lists[list].length) { %>
      <% for (let i of lists[list]) { %>
        <a class="list-item" href="./<%= i.id %>">
          <img src="<%= i.icon %>">
          <div class="name"><%= i.name %></div>
          <div class="date"><%= i.timing.params %></div>
          <div class="calendar"><%= i.calendar %></div>
        </a>
      <% } %>
      <% if (list === "custom") { %>
        <a class="list-item" href="./custom">
          <img src="/img/plus.svg">
          <div class="name">Create New</div>
        </a>
      <% } %>
    <% } else { %>
      <div class="popup">
        You don't have any custom countdowns yet! Click <a href="./custom">here</a> to create one.
      </div>
    <% } %>
    </div>
  <% } %>
  <!--<div id="custom-list" class="list-menu hidden">
    <div class="popup">
      Coming Soon!<br>
      Want to create a custom countdown now? That feature can be found in my <a href="/Countdown/index">Countdown V3</a>
    </div>
  </div>-->
</div>