<!DOCTYPE html>
<html>
<% const player = players.random(); %>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.65">
  <meta name="author" content="Liam Bloom">
  <link rel="icon" href="/img/favicon/main/favicon.ico">
  <link rel="icon" href="/img/favicon/main/favicon_32.png">
  <link rel="icon" href="/img/favicon/main/favicon_48.png">
  <link rel="icon" href="/img/favicon/main/favicon_96.png">
  <link rel="icon" href="/img/favicon/main/favicon_144.png">
  <link rel="icon" href="/img/favicon/main/favicon_vector.svg">
  <link rel="stylesheet" href="/css/forbidden.css">
  <script src="/js/forbidden/init.js" type="module"></script>
  <script src="/lib/JSplus.js" type="application/javascript"></script>
  <script src="/js/forbidden/layout.js" type="application/javascript" defer></script>
  <script type="application/javascript">
    window.players = JSON.parse("<%- JSON.stringify(players).replace(/"/g, "\\\"") %>");
    window.board = JSON.parse("<%- JSON.stringify(board).replace(/"/g, "\\\"") %>");
    window.player = JSON.parse("<%- JSON.stringify(player).replace(/"/g, "\\\"") %>");
  </script>
  <title>Forbidden <%= game.titleCase() %></title>
</head>
<body>
  <% for (let player in players) { %>
    <svg id="<%= player %>" class="piece" viewbox="0 0 15 24" width="3.75vmin" height="6vmin" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle cx="10" cy="3.5" r="3.5" fill="<%= players[player].color.piece %>"></circle>
      <path d=" M 5 21.5
                a 5 18 0 0 1 10 0
                a 10 5 0 0 1 -10 0"
                fill="<%= players[player].color.piece %>"></path>
      <path d=" M 12.5122 5.93698
                A 3.5 3.5 0 0 1 7.4878 5.93698
                A 6.31114 2.96849 0 0 0 12.5122 5.93698"
                fill="<%= players[player].color.piece %>" class="shadow"></path>
      <path d=" M 6.5 8.64542
                A 5 18 0 0 0  5 21.5
                A 10 5 0 0 1 6.5 21.85361
                A 4.0944 12.72676 0 0 1 6.5 8.64542"
                fill="<%= players[player].color.piece %>" class="shadow"></path>
    </svg>
  <% } %>
  <div>
    <main>
      <div id="board">
        <% const boardArr = Object.keys(board).shuffle(); %>
        <% for (let i in boardArr) { %>
        <% const piece = boardArr[i]; %>
        <div id="<%= piece.replace(/\s/g, "_").cssSafe() %>"
          class="tile" style="grid-area: n<%= parseInt(i) + 1 %>;">
          <div class="label <%= board[piece].end ? "end" : ""%>">
            <% if (board[piece].treasure) { %>
            <div
              class="treasure <%= board[piece].treasure.cssSafe() %>">
            </div>
            <% } %>
            <div class="name"><%= piece %></div>
          </div>
        </div>
        <% } %>
      </div>
      <div id="hand">
        <div id="arrow-hitbox">
          <div id="arrow"></div>
        </div>
        <div id="in-hand">
          <div id="player">
            <div id="ability-container">
              <div id="ability">
                <%= player.ability.english %>
              </div>
            </div>
            <svg id="name">
              <ellipse cx="50%" cy="0" rx="100%" ry="100%" fill="white"></ellipse>
              <ellipse cx="50%" cy="0" rx="110%" ry="94%" fill="<%= player.color.main %>"></ellipse>
              <text text-anchor="middle" x="50%" y="50%" fill="<%= player.color.darkText ? "black" : "white" %>"><%= player.name %></text>
            </svg>
          </div>
          <div id="treasures">
            <div id="The_Crystal_of_Fire"></div>
            <div id="The_Earth_Stone"></div>
            <div id="The_Oceans_Chalice"></div>
            <div id="The_Statue_of_the_Wind"></div>
          </div>
          <div id="items">

          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>