<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.65">
  <meta name="author" content="Liam Bloom">
  <link rel="icon" href="/img/favicon/main/favicon.ico">
  <link rel="icon" href="/img/favicon/main/favicon_32.png">
  <link rel="icon" href="/img/favicon/main/favicon_48.png">
  <link rel="icon" href="/img/favicon/main/favicon_96.png">
  <link rel="icon" href="/img/favicon/main/favicon_144.png">
  <link rel="icon" href="/img/favicon/main/favicon_vector.svg">
  <link rel="stylesheet" href="/css/forbidden.css">
  <script src="/lib/JSplus.js" type="application/javascript"></script>
  <script src="/js/forbidden/init/<%= game %>.js" type="application/javascript" defer></script>
  <script src="/js/forbidden/layout.js" type="application/javascript" defer></script>
  <script type="application/javascript">
    window.player = JSON.parse("<%- JSON.stringify(player).replace(/"/g, "\\\"") %>");
    window.board = JSON.parse("<%- JSON.stringify(board).replace(/"/g, "\\\"") %>");
  </script>
  <title>Forbidden <%= game.titleCase() %></title>
</head>
<body>
  <div>
    <main>
      <div id="board">
        <% const boardArr = Object.keys(board).shuffle(); %>
        <% for (let i in boardArr) { %>
        <% const piece = boardArr[i]; %>
        <div id="<%= piece.replace(/\s/g, "_").replace(/(?:^-(?![_a-zA-Z]))|(?:^[^_a-zA-Z])|[^_a-zA-Z0-9-]/, "") %>"
          class="tile" style="grid-area: n<%= parseInt(i) + 1 %>;">
          <div class="label <%= board[piece].end ? "end" : ""%>">
            <% if (board[piece].treasure) { %>
            <div
              class="treasure <%= board[piece].treasure.replace(/\s/g, "_").replace(/(?:^-(?![_a-zA-Z]))|(?:^[^_a-zA-Z])|[^_a-zA-Z0-9-]/, "") %>">
            </div>
            <% } %>
            <div class="name"><%= piece %></div>
          </div>
        </div>
        <% } %>
      </div>
      <div id="hand">
        <div id="arrow"></div>
        <div id="in-hand">
          <div id="player">
            <div id="ability-container">
              <div id="ability">
                <%= player.ability.english %>
              </div>
            </div>
            <svg id="name">
              <ellipse cx="50%" cy="0" rx="100%" ry="100%" fill="white"></ellipse>
              <ellipse cx="50%" cy="0" rx="110%" ry="94%" fill="<%= player.color.main %>"></ellipse>
              <text text-anchor="middle" x="50%" y="50%" fill="<%= player.color.darkText ? "black" : "white" %>"><%= player.name %></text>
            </svg>
          </div>
          <div id="treasures">

          </div>
          <div id="items">
            
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>